@use "@styles/color";
@use "@styles/font";

.testimonialCards {
  margin-block-start: 4em;
}

.customer {
  background-color: color.$primary-50;
  padding: 3.1em 1.5em;
  text-align: center;
  display: flex;
  flex-direction: column;

  &:nth-child(even) {
    background-color: color.$gray-50;
  }
}

.customerCategory {
  font: font.$text-sm-semibold;
  color: color.$primary-700;
}

.customerText {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  color: color.$primary-900;
  margin-block-start: 0.5em;
}

.customerName {
  margin-block: 0.7em 0;
  font: font.$text-md-medium;
  color: color.$primary-900;
}

.customerTitle {
  margin-block-start: 0.2em;
  font: font.$text-sm-regular;
  color: color.$primary-700;
}

@media screen and (width >= 48rem) {
  .testimonialCards {
    display: grid;
    width: min(92%, 80rem);
    margin: 0 auto;
    margin-block-start: 4em;
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
    gap: 2rem;
  }

  .customer {
    border-radius: 16px;
  }
}

@media screen and (width >= 90rem) {
  .testimonialCards {
    grid-template-columns: repeat(3, 375px);
    justify-content: space-between;
    width: min(92%, 1255px);
  }

  .customer {
    padding: 0;
    padding: 1.5em;
  }

  .customerInfo {
    margin-top: auto;
  }
}
