@use "@styles/breakpoint";
@use "@styles/space";

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: space.$s6;

  /* reset list styles */
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: breakpoint.$desktop) {
    grid-template-columns: repeat(auto-fit, 400px);
  }
}

// styles for the loading animation
.loadingContainer {
  margin: 9.5rem auto 0;
  width: space.$s17;

  @media (min-width: breakpoint.$desktop) {
    margin-top: 8rem;
  }
}
