@use "@styles/color";
@use "@styles/font";

.header {
  width: min(91%, 80rem);
  height: 80px;
  margin: 0 auto;
  padding: 0 7rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  position: relative;
}

.header nav {
  width: 40%;
}

.header button {
  background-color: transparent;
  border: none;
}

.linkContainer {
  display: flex;
  justify-content: space-between;
}

.linkContainer li {
  list-style: none;
}

.linkContainer a {
  text-decoration: none;
  color: #667085;
  cursor: pointer;
}

.navLinks {
  position: absolute;
  bottom: -286px;
  background-color: white;
  border-radius: 5px;
  width: 100%;
  visibility: hidden;

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    text-align: right;
    border: 1px solid color.$gray-300;
    border-radius: 5px;
  }

  ul li {
    padding: 1em;
  }

  ul li:not(:last-of-type) {
    border-bottom: 1px solid color.$gray-300;
  }

  ul li a {
    text-decoration: none;
    color: color.$gray-600;
    font: font.$text-md-medium;
  }

  ul li:last-of-type a {
    width: 10.3rem;
    background-color: color.$primary-600;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    padding: 0.5em;
  }

  &[aria-hidden="false"] {
    visibility: visible;
  }
}

.dashboardLink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.85rem;
  width: 10rem;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 8px;
  background-color: #7f56d9;
  color: #fff;
  text-decoration: none;
}

.contactButton {
  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
  padding: 1rem;
  background: #7f56d9;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgb(16 24 40 / 5%);
  border: none;
  cursor: pointer;

  &:hover {
    background: #6941c6;
  }
}

@media screen and (width >= 48rem) {
  .navLinks {
    position: relative;
    bottom: 0;
    border-radius: 0;

    ul {
      flex-direction: row;
      border: none;
      text-align: center;
      justify-content: center;
      gap: 1.5rem;
    }

    ul li {
      padding: 0;
    }

    ul li:not(:last-of-type) {
      border-bottom: none;
    }

    ul li:last-of-type {
      display: none;
    }
  }
}

@media screen and (width >= 90rem) {
  .navLinks ul {
    gap: 2rem;
    transform: translateX(23px);
  }
}
