@use "@styles/color";
@use "@styles/font";
@use "@styles/space";
@use "@styles/breakpoint";
@use "@styles/misc";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: space.$s13;
  padding: space.$s0 space.$s8;
  background: color.$gray-50;
}

.logoContainer {
  padding-right: 3px;
}

.version {
  font: font.$text-md-regular;
  color: color.$gray-400;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: space.$s6;
  margin-right: 5.625rem;

  .navItem {
    font-weight: 500;

    .link {
      text-decoration: none;
      color: color.$gray-500;
    }
  }
}

@media (max-width: breakpoint.$desktop) {
  .footer {
    flex-direction: column;
    justify-content: center;
    height: 11rem;
    margin: space.$s0;
    gap: space.$s6;
    padding: space.$s6;
  }

  .nav {
    order: 0;
    margin: space.$s0;
  }

  .version {
    order: 2;
    padding: space.$s0;
    margin-top: -17px;
    margin-left: 4px;
  }

  .logoContainer {
    order: 1;
  }
}
